/* Fonts setup */
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'), url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.ttf') format('truetype'), url('../fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('../fonts/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'), url('../fonts/TimesNewRomanPSMT.woff') format('woff'), url('../fonts/TimesNewRomanPSMT.ttf') format('truetype'), url('../fonts/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END: Fonts setup */

/* Declaring global-scope CSS variables */
:root {
  --main-font: 'Lato-Regular', sans-serif;
  --secondary-font: 'Georgia', sans-serif;
  --tertiary-font: 'TimesNewRomanPSMT', sans-serif;

  --accent: #f1cdb3;

  --light-bg-color: #fafafa;
  --dark-bg-color: #f6f6f6;

  --main-font-color: #545454;
  --white-font-color: #fff;
  --light-font-color: #cdcdcd;
  --dark-font-color: #292929;
}
/* END: Declaring global-scope CSS variables */

/* Default values */
html {
  font-size: 15px;
  line-height: 1.45;
  font-family: var(--main-font);
  font-weight: 400;
}

body {
  max-width: 1920px;
  margin: auto;
  color: var(--main-font-color);
}

/* END: Default values */

/* Reseting some default margins */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* END: Reseting some default margins */

/* Hamburger */

.hamburger {
  /* display: none; */
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.hamburger span,
.hamburger:before,
.hamburger:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #fff;
  transform: rotate(0);
  position: absolute;
  left: 10px;
  transition: all 300ms ease-in-out;
}

.hamburger:before {
  top: 16px;
}

.hamburger span {
  top: 25px;
  opacity: 1;
}

.hamburger:after {
  bottom: 15px;
}

.hamburger.active span {
  opacity: 0;
  top: 25px;
  transform: rotate(90deg);
}

.hamburger.active:before {
  width: 34px;
  top: 25px;
  left: 8px;
  transform: rotate(45deg);
}

.hamburger.active:after {
  width: 34px;
  bottom: 24px;
  left: 8px;
  transform: rotate(-45deg);
}

/* END Hamburger */

/* Custom Button */
.button {
  display: inline-block;
  border: 2px solid var(--accent);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-family: var(--secondary-font);
  text-decoration: none;
  letter-spacing: 3px;
  color: var(--dark-font-colorw);
  cursor: pointer;
}

.button:hover {
  color: var(--dark-font-color);
  text-shadow: -0.25px -0.25px 0 var(--dark-font-color), 0.25px 0.25px var(--dark-font-color);
}

.button.button--filled {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--dark-font-color);
}
/* END: Custom Button */

/* Carousel */

.owl-carousel {
  z-index: auto;
}

.owl-stage {
  display: flex;
}

.owl-item {
  display: flex;
  justify-content: center;
}

.owl-nav {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  border: 1px var(--accent) solid;
  border-radius: 50px;
}

/* END: Carousel */

/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal__close {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal__close-icon {
  width: 1.75em;
  height: 1.75em;
}
.modal__content {
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal__photo {
  width: auto;
  height: auto;
  max-width: 100%;

  align-self: center;
}
.modal__header {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
}
.modal__sub-header {
  font-family: var(--secondary-font);
}

.modal__list {
  padding-left: 0;
}
.modal__list-item {
  list-style: none;
}
.modal__list-item::before {
  color: var(--accent);
  /* color of bullet or square */

  content: '\2022';
  /* Unicode of character to precede the list item */

  font-size: 1em;
  /* em or %*/

  padding-right: 1.1125em;
  /* use em*/

  position: relative;
  top: 0em;
  /* use em or % */
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.modal.active .modal__content {
  opacity: 1;
}
.modal.active .modal__close {
  transform: translateY(10px);
  opacity: 1;
}

/* END: Modal */

/* Header */
.header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header__logo-link {
  text-decoration: none;
}
.header__logo-title {
  font-size: 1.25rem;
  font-family: var(--secondary-font);
  color: var(--accent);
  font-weight: 400;
}

.header__logo-desc {
  font-size: 0.7rem;
  font-family: var(--main-font);
  color: var(--white-font-color);
  font-weight: 400;
}
/* END: Header */

/* Navbar */
.navbar__list {
  display: none;
  list-style-type: none;
}
.navbar__list-item {
  margin-left: 40px;
}
.navbar__link {
  color: #cdcdcd;
  font-size: 1rem;
  text-decoration: none;
}

.navbar__link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent);
}
/* END: Navbar */

/* Mobile Navbar */

/* Off-canvas Menu for Mobile Devices*/
.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 0;
  margin-left: -20px;
  height: 100vh;
  width: 100%;
  background: gray;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.menu-mobile--active {
  visibility: visible;
  opacity: 1;
}
.menu-mobile__items {
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}
.menu-mobile__item {
  margin: 0 0 25px 0;
  border-bottom: #cecece 4px solid;
  text-align: center;
  transform: translateX(100%);
}
.menu-mobile__item--active {
  transform: translateX(0);
}
.menu-mobile__item--active:nth-child(1) {
  transition: transform 0.25s ease 0.1s;
}
.menu-mobile__item--active:nth-child(2) {
  transition: transform 0.25s ease 0.2s;
}
.menu-mobile__item--active:nth-child(3) {
  transition: transform 0.25s ease 0.3s;
}
.menu-mobile__item--active:nth-child(4) {
  transition: transform 0.25s ease 0.4s;
}
.menu-mobile__item--active:nth-child(5) {
  transition: transform 0.25s ease 0.5s;
}
.menu-mobile__item--active:nth-child(6) {
  transition: transform 0.25s ease 0.6s;
}
.menu-mobile__link {
  display: block;
  color: #cecece;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.5s ease;
}
.menu-mobile__link:hover {
  color: #08fdd8;
}

/* END: Mobile Navbar */

/* Sections Global Settings */
.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__composition {
  max-width: 470px;
}
.section--dark {
  background-color: var(--dark-bg-color);
}
.section__title {
  margin-bottom: 10px;
}
.section__title--center {
  text-align: center;
}
.section__text {
  margin: 10px 0;
}
/* END:Sections Global Settings */

/* Hero Section */
.hero {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  padding: 80px 20px 0 20px;
  background: url(../images/bg-small.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__composition {
  max-width: 450px;
}
.hero__composition-title {
  margin-bottom: 24px;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--white-font-color);
}
.hero__composition-text {
  font-size: 0.8rem;
  color: var(--light-font-color);
}

.hero__dog-img {
  flex-grow: 1;
  width: 100%;
  max-width: 650px;
  background: url(../images/hero-dog.png) no-repeat;
  background-size: contain;
  background-position: bottom right;
  align-self: flex-end;
}

.hero__button {
  margin-top: 24px;
}
/* END: Hero Section */

/* About Section */
.section__cat-n-dog-img {
  background: url(../images/cat-n-dog.png) no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  max-width: 470px;
  min-height: 200px;
  order: 1;
}
/* END: About Section */

/* Friends Section */
.friends__composition {
  width: 100%;
  text-align: center;
}

.friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-bg-color);
  width: 60%;
}

.friends__card-button {
  margin-bottom: 10px;
}

/* END: Friends Section */

/* Donate Section */
.bank-account__composition {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.bank-account__number {
  max-width: 270px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent);
  border-radius: 9px;
  padding: 7px;
}

.bank-account__info {
  max-width: 350px;
  font-style: italic;
  color: var(--light-font-color);
  font-size: 0.8rem;
}

.section__lying-dog {
  background: url(../images/lying-dog.png) no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  max-width: 470px;
  min-height: 200px;
  order: 1;
}
/* END: Donate Section */

/* Footer */
.footer {
  /* padding: 20px; */
  background: url(../images/footer-bg.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__composition {
  margin: 20px;
  max-width: 90%;
}

.footer__title {
  color: var(--white-font-color);
  margin-bottom: 10px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form-input {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--light-bg-color);
}

.footer__form-button {
  align-self: center;
  padding: 10px 35px;
  margin-bottom: 10px;
}

.footer__contact-holder {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer__contact {
  color: var(--accent);
  margin-left: 5px;
}

.footer__doghey-tongue {
  background: url(../images/doghey-tongue.png) no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  max-width: 270px;
  min-height: 200px;
  order: 1;
}

/* END: Footer */

/*==========  Mobile First  ========== */

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* Hero Section */
  .hero {
    flex-direction: row;
  }
  .hero__dog-img {
    align-self: initial;
  }
  /* END: Hero Section */

  /* Sections Global Settings */
  .section {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  /* END:Sections Global Settings */

  /* About Section */
  .section__cat-n-dog-img {
    width: 50%;
    order: 0;
  }
  /* END: About Section */

  /* Donate Section */
  .section__lying-dog {
    width: 50%;
    order: 0;
  }
  /* END: Donate Section */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* Hamburger */
  .hamburger {
    display: none;
  }
  /* END: Hamburger */

  /* Navbar */
  .navbar__list {
    display: flex;
  }
  /* END: Navbar */

  /* Hero Section */
  .hero {
    flex-direction: row;
  }
  .hero__composition-title {
    font-size: 2rem;
  }
  .hero__composition-text {
    font-size: 1rem;
  }
  /* END: Hero Section */

  /* Modal Overlay */
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
  }

  /* END: Modal Overlay */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* Hero Section */
  .hero {
    background: url(../images/bg-big.png) no-repeat;
    background-size: cover;
  }

  .hero__composition {
    align-self: center;
  }
  /* END: Hero Section */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  /* Header */
  .header {
    justify-content: space-around;
    padding: 0 20px;
  }
  /* END: Header */

  /* Hero Section */
  .hero {
    justify-content: space-around;
  }

  .hero__composition {
    margin-left: 80px;
  }
  /* END: Hero Section */
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }

  .modal__close {
    right: 20px !important;
  }
}
